/*html*/

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

/*container*/

 .container {
   width: 960px;
   margin: 0 auto;
   display: flex;
 }

/*Header*/

#header {
  width: 960px;
  background-color: cadetblue;
  display: flex;
  margin-top: 1rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0 2rem;
}

.logo span {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
}

.logo img {
  height:1.5rem;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

nav span {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
}

.mobile-menu {
  display: none;
}

/*Banner*/

.banner {
  background-image: url("/Users/Sally/Documents/Code Academy Projects/Tortoiseshell_Optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  position: relative;
}

.slogan {
  display: block;
  justify-content: flex-end;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.slogan h2 {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  line-height: 1.2;
}

/*icons*/

.services {
  height: 8rem;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.items img {
  max-width: 5rem;
}
.items {
  max-width: 5rem;
  margin: 0 3rem;
}
.items.exams img{
  max-width: 3.5rem;
}
.items p {
  text-align: center;
}

/*About*/

/*footer*/
