/*html*/

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  background-color: white;
}
body {
    line-height: 1.4rem;
}

/*container*/

 .container {
   width: 960px;
   margin: 0 auto;
 }

/*Header*/

.header {
  width: 960px;
  background-color: cadetblue;
  display: flex;
  margin: 1rem auto;
  position: sticky;
  z-index: 2;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0 2rem;
}

.logo span {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
}

.logo img {
  height:1.5rem;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

nav span {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
}

.mobile-menu {
  display: none;
}

/*Banner*/

.banner {
  background-image: url("/Users/Sally/Documents/Code Academy Projects/Tortoiseshell_Optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  position: relative;
  top: -5rem;
}

.slogan {
  width: auto;
  position: relative;
  right: -2rem;
  display: block;
  justify-content: flex-end;
  background-color: white;
  padding: 1.5rem 5rem;
  margin: 10rem 0 0 19rem;
}

.slogan h2 {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  line-height: 1.2;
}

/*icons*/
.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
  position: relative;
  top: -5rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service .paper img  {
  width: 3.5rem;
}

/*About*/
.about {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.heading {
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

.about p {
  padding: 1rem 0;
  line-height: 1.4rem;
}

/*footer*/

.footer {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem 4rem;
  background-color: azure;
}
.footer span {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}
.footer img {
  height: 1.5rem;
}

/*media querie*/

@media only screen and (max-width:1024px) {
  .container {
    width: 90%;
  }
  .header {
    width: 100%;
    margin: 0;
  }
  .banner {
    height: 22rem;
  }
  .slogan {
    padding: 0.75rem 4rem;
    top:5rem;
    margin-right: 2rem;

  }
  .slogan h2 {
    font-size: 1.33rem;
  }
  .service {
    margin-bottom: 0;
  }
  .about {
    margin: 0 auto;
    width: 40%;
  }
}

@media only screen and (max-width:480px) {
  .container {
    width: 100%;
  }
  .header {
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 1;
  }
  nav span {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
    justify-content: flex-end;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
  }
  .banner {
    height: 17rem;
  }
  .slogan {
    padding: 1rem auto;
    display: flex;
    justify-content: center;
    top:9rem;
    width: 100%;
  }
}
